mixin race 
    synz 
        syn     
            | race 
        syn 
            | community 
        syn     
            | ethnicity
        syn    
            | population

mixin recorded 
    synz 
        syn     
            | recorded 
        syn 
            | registered

mixin AmongThem
    synz
        syn 
            | among them,
        syn 
            | in that,
        syn 
            | out of which,

mixin multiYear 
    synz
        syn
            | in between the years
        syn     
            | during the period

mixin singleYear 
    synz
        syn
            | for the year
        syn     
            | during 
        syn 
            | around

mixin anAverage 
    synz 
        syn 
            | an average
        syn 
            | a mean 